body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  font-size: 12px;
}
.row {
  margin-left: 0;
  margin-right: 15px;
  margin-bottom: 10px;
  height: 34px;
}
.row > label {
  margin-right: 15px;
  width: 100px;
  color: #FFF;
}
.row > .controlBox {
  margin-top: -7px;
  color: #FFF;
}
.row > .controlBox .form-control {
  display: inline-block;
  width: auto;
}
.row > .controlBox .form-control {
  text-align: right;
}
#whole {
  width: 900px;
  margin: 0 auto;
}
#whole .panel {
  padding: 10px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
#whole .panel .tips {
  font-weight: bold;
  color: #FFF;
}
#whole .panel .content {
  height: 430px;
}
#whole .panel .content .config .myRadio span {
  cursor: pointer;
  color: #FFF;
}
#whole .panel .content .viewer {
  width: 50%;
}
#whole .panel .content .preview {
  margin-top: 30px;
  padding-right: 20px;
  color: #FFF;
}
#whole .panel .content .preview .arrowBox {
  width: 100%;
  height: 234px;
  margin: 0 auto;
  border-radius: 10px;
}
#whole .panel .content .preview .arrowBox h1 {
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  padding-top: 56px;
  font-size: 52px;
  line-height: 1.3;
  text-transform: uppercase;
  -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
#whole .panel .content .leftBox {
  width: 48%;
  height: 100%;
}
#whole .panel .content .rightBox {
  width: 48%;
  height: 100%;
  border: 1px solid #777;
  background: rgba(119, 119, 119, 0.19);
  -moz-box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #FFF;
}
#whole .panel .content .rightBox .code {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  overflow-y: auto;
  white-space: pre;
  padding: 10px;
  font-family: 'Courier new';
  font-weight: bold;
  color: #FFF;
  display: block;
  line-height: 1.5;
}
#whole .panel .infoPanel {
  margin-top: 30px;
  padding: 10px;
  height: 100%;
  border: 1px solid #777;
  background: rgba(119, 119, 119, 0.19);
  -moz-box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #FFF;
}
#whole .panel .infoPanel p {
  line-height: 1;
}
#whole .panel .infoPanel a {
  color: #FFF;
}
#whole .panel .jscolor {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#whole .copyRight {
  text-align: right;
  color: #FFF;
  margin-top: 10px;
}
#whole .ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}
#whole .fork_me {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 149px;
  height: 149px;
  background: url(../img/fork.png);
}
